<div class="mobile-menu-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="mobile-menu">
					<nav id="dropdown">
						<ul class="mobile-menu-nav">
							<li>
								<a title="Landing Page" href="/adm/principal/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
								<span class="educate-icon educate-home icon-wrap"></span>
								<span class="mini-click-non">Principal</span></a>
							</li>
							
							
							<li>
								<a title="Landing Page" href="/adm/alunos/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
								<!--<span class="educate-icon educate-home icon-wrap"></span>-->
								<i class="fa fa-users" aria-hidden="true"></i>

								<span class="mini-click-non" style="margin-left:10px;">Alunos</span></a>
							</li>
							
							<li>
								<a title="Landing Page" href="/adm/alunos_1_basico/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
								<!--<span class="educate-icon educate-home icon-wrap"></span>-->
								<i class="fa fa-users" aria-hidden="true"></i>
								<span class="mini-click-non" style="margin-left:10px;">Alunos 1º Ano</span></a>
							</li>
							
							<li>
								<a title="Landing Page" href="/adm/alunos_2_basico/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
								<!--<span class="educate-icon educate-home icon-wrap"></span>-->
								<i class="fa fa-users" aria-hidden="true"></i>
								<span class="mini-click-non " style="margin-left:10px;">Alunos 2º Ano</span></a>
							</li>
							
							<li>
								<a title="Landing Page" href="/adm/alunos_medio/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
								<!--<span class="educate-icon educate-home icon-wrap"></span>-->
								<i class="fa fa-users" aria-hidden="true"></i>
								<span class="mini-click-non" style="margin-left:10px;">Alunos Médio</span></a>
							</li>
							
							
							<li>
								<a title="Landing Page" href="/adm/addMaterias/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
								<!--<span class="educate-icon educate-home icon-wrap"></span>-->				
								<i class="fa fa-file-text" aria-hidden="true"></i>
								<span class="mini-click-non" style="margin-left:10px;">Matérias</span></a>
							</li>
							
							<li>
								<a title="Landing Page" href="/adm/addAulas/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
								<!--<span class="educate-icon educate-home icon-wrap"></span>-->
								<i class="fa fa-video-camera" aria-hidden="true"></i>

								<span class="mini-click-non" style="margin-left:10px;">Aulas</span></a>
							</li>
							
							<li>
								<a title="Landing Page" href="/adm/addModalidades/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
								<!--<span class="educate-icon educate-home icon-wrap"></span>-->
								<i class="fa fa-certificate" aria-hidden="true"></i>

								<span class="mini-click-non" style="margin-left:10px">Modalidades</span></a>
							</li>

							<li>
								<a title="Landing Page" href="/adm/addModalidades/<%= uid_usuario %>" aria-expanded="false" id="link_principal">
									<!--<span class="educate-icon educate-home icon-wrap"></span>-->
									<i class="fa fa-certificate" aria-hidden="true"></i>

									<span class="mini-click-non" style="margin-left:10px">Núcleo</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>