<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/educate-custon-icon.css">
    <link rel="stylesheet" href="/css/morrisjs/morris.css">
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
	<link rel="stylesheet" href="/timeLine.css">
	
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
	<style>

	.courses-title h2 {
		font-size: 18px;
		color: #303030;
		margin-top: 10px;
		text-align: center;
	}
	
	
	.product-buttons button {
  border: none;
  background: #006DF0;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all .4s ease 0s;
  font-size: 14px;
  padding: 10px;
  margin-top: 15px;
}

.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}
</style>
</head>

<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <%- include('./../partials/sidebar_diaconos.ejs') %>
        </nav>
    </div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
													<i class="educate-icon educate-nav"></i>
												</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
			<%- include('./../partials/mobile_menu_aluno.ejs') %>
            <!-- Mobile Menu end -->
			
			
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">Dashboard V.1</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="analytics-sparkle-area">
            <div class="container-fluid">
                <div class="row">
					<h4 style="text-align: center;font-size: 30px;margin-bottom: 40px;">Aulas Disponíveis sobre <%= nome_materia %></h4>
					<div class="col-md-12">
						<div class="main-timeline">
							<% aulas.forEach(dados=>{ %>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">		   
								<div class="box-part text-center">					
									<i class="fa fa-book fa-3x" aria-hidden="true"></i>
			
									<div class="title" style="margin-top:30px;">
										<h4><%= dados.descricao %></h4>
									</div>
									<a href="/user/aulas_materia_visualizar/<%= id_materia %>/<%= uid_usuario %>/<%= dados.id_aulas %>"><button type="button" class="btn btn-custon-four btn-success">Acessar</button></a>
								 </div>
							</div>
							<% }) %>
						</div>
					</div>
					
                </div>
            </div>
        </div>
		
        
        <!--
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2018. All rights reserved. Template by <a href="https://colorlib.com/wp/templates/">Colorlib</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
		
    </div>
	<!-- line modal -->

    <!-- jquery
		============================================ -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery-price-slider.js"></script>
    <script src="/js/jquery.meanmenu.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/counterup/jquery.counterup.min.js"></script>
    <script src="/js/counterup/waypoints.min.js"></script>
    <script src="/js/counterup/counterup-active.js"></script>
    <script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
    <script src="/js/metisMenu/metisMenu.min.js"></script>
    <script src="/js/metisMenu/metisMenu-active.js"></script>
    <!--<script src="/js/morrisjs/raphael-min.js"></script>
    <script src="/js/morrisjs/morris.js"></script>
    <script src="/js/morrisjs/morris-active.js"></script>
    <script src="/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="/js/sparkline/sparkline-active.js"></script>
    <script src="/js/calendar/moment.min.js"></script>
    <script src="/js/calendar/fullcalendar.min.js"></script>
    <script src="/js/calendar/fullcalendar-active.js"></script>-->
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    <script>
		$(function () {
			 //document.getElementById("concluirAula").disabled = true;
			//setTimeout(() => {
				//document.getElementById("concluirAula").disabled = false;
			//}, "40000");
		
		})
	
	</script>
</body>

</html>

<!--
<div class="col-md-12">
	<div class="main-timeline4">
		<ul class="timeline">
			<% aulas.forEach(dados=>{ %>
				<li>
					<a href="" data-toggle="modal" data-target="#<%= dados.id_aulas %>" />
						<div class="timeline-image">
							<img class="img-circle img-responsive" src="/img/open-book.png" alt="">
						</div>
					</a>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4><%= dados.descricao %></h4>
							
						</div>
						<div class="timeline-body">
							<p class="text-muted">
								
							</p>
						</div>
					</div>
					<div class="line"></div>

					<div class="modal fade" data-backdrop="static" id="<%= dados.id_aulas %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
						<div class="modal-dialog modal-xl">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
									<h3 class="modal-title" id="lineModalLabel"><%= dados.descricao %></h3>
								</div>
								<div class="modal-body">																	
									<iframe width="100%" height="450px" src="<%= dados.link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-success" id="concluirAula_<%= dados.id_aulas %>">Concluir</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
								</div>
							</div>
						</div>
					</div>

				</li>
				 <script>
					document.getElementById("concluirAula_<%= dados.id_aulas %>").disabled = true;
					setTimeout(() => {
						console.log('liberou bota '+<%= dados.id_aulas %>)
						document.getElementById("concluirAula_<%= dados.id_aulas %>").disabled = false;
					}, "400000");
					
				
				</script>
			<% }) %>	
		</ul>
	</div>
</div>



	