<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/educate-custon-icon.css">
    <link rel="stylesheet" href="/css/morrisjs/morris.css">
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
	<link rel="stylesheet" href="/timeLine.css">
	
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
	<style>

		p {
		  margin-bottom: 15px;
		  font-size: 21px;
		  font-weight: 200;
		  text-align:center
		}
		#timer{
		margin-bottom: 15px;
		  font-size: 21px;
		  font-weight: 200;
		  text-align:center
		}
	</style>
</head>

<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <%- include('./../partials/sidebar_aluno.ejs') %>
        </nav>
    </div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
													<i class="educate-icon educate-nav"></i>
												</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
			<%- include('./../partials/mobile_menu_aluno.ejs') %>
            <!-- Mobile Menu end -->
			
			
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="analytics-sparkle-area">
            <div class="container-fluid">
                <div class="row">
					<h4 style="text-align: center;font-size: 30px;margin-bottom: 40px;">Aulas sobre <%= nome_materia %> 
						<a href="/user/aulas_materia/<%= id_materia %>/<%= uid_usuario %>" type="button" class="btn btn-custon-four btn-success" style="padding-left: 54px;padding-right: 54px; margin-Left: 15px;">Voltar</a> 
					</h4>
					
					<div class="col-md-8">
						<iframe width="100%" height="550px" src="<%= link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					</div>
					<div class="col-md-4">
						<p><%= nome_aula %></p>
						
						<%if(botao_concluir_aula==true){ %>
							<p><div id="timer"></div></p>
							<form action="javascript:func()" method="post">
								<input type="hidden" id="uid_usuario" value="<%= uid_usuario %>"/>
								<input type="hidden" id="id_aula" value="<%= id_aula %>" />
								<div class="col-md-12" style="text-align:center;">
									<button type="submit" class="btn btn-success" id="concluirAula">Concluir Aula</button>								
								</div>
							</form>							
						<%} %>
					</div>			
					
                </div>
            </div>
        </div>
		
        
        <!--
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2018. All rights reserved. Template by <a href="https://colorlib.com/wp/templates/">Colorlib</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
		
    </div>
	<!-- line modal -->

    <!-- jquery
		============================================ -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery-price-slider.js"></script>
    <script src="/js/jquery.meanmenu.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/counterup/jquery.counterup.min.js"></script>
    <script src="/js/counterup/waypoints.min.js"></script>
    <script src="/js/counterup/counterup-active.js"></script>
    <script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
    <script src="/js/metisMenu/metisMenu.min.js"></script>
    <script src="/js/metisMenu/metisMenu-active.js"></script>
    <!--<script src="/js/morrisjs/raphael-min.js"></script>
    <script src="/js/morrisjs/morris.js"></script>
    <script src="/js/morrisjs/morris-active.js"></script>
    <script src="/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="/js/sparkline/sparkline-active.js"></script>
    <script src="/js/calendar/moment.min.js"></script>
    <script src="/js/calendar/fullcalendar.min.js"></script>
    <script src="/js/calendar/fullcalendar-active.js"></script>-->
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    <script>
		$(function () {
		
			var duration = 60 * 40; // Converter para segundos
			display = document.querySelector('#timer'); // selecionando o timer
			startTimer(duration, display); // iniciando o timer
		
			document.getElementById("concluirAula").disabled = true;
			setTimeout(() => {
				document.getElementById("concluirAula").disabled = false;
				
			}, "2400000");
			
			
			
			$("#concluirAula").click(function(){
			
				let uid_usuario = $("#uid_usuario").val();
				let id_aula = $("#id_aula").val();
				
				
				console.log(uid_usuario);
				console.log(id_aula);
				
				
				$.post('/user/presenca', {
					uid_usuario: uid_usuario,
					id_aula: id_aula
				}, function(resposta) {
					console.log(resposta);
					window.location.reload(true);
					
				});
				

			})
			
			function startTimer(duration, display) {
				var timer = duration, minutes, seconds;
				setInterval(function () {
					minutes = parseInt(timer / 60, 10);
					seconds = parseInt(timer % 60, 10);
					minutes = minutes < 10 ? "0" + minutes : minutes;
					seconds = seconds < 10 ? "0" + seconds : seconds;
					display.textContent = minutes + ":" + seconds;
					if (--timer < 0) {
						timer = duration;
					}
				}, 1000);
			}
			window.onload = function () {
				
			};
		
		})
	
	</script>
</body>

</html>

<!--
<div class="col-md-12">
	<div class="main-timeline4">
		<ul class="timeline">
			<% aulas.forEach(dados=>{ %>
				<li>
					<a href="/user/aulas_materia_visualizar.ejs"  />
						<div class="timeline-image">
							<img class="img-circle img-responsive" src="/img/open-book.png" alt="">
						</div>
					</a>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4><%= dados.descricao %></h4>
							
						</div>
						<div class="timeline-body">
							<p class="text-muted">
								
							</p>
						</div>
					</div>
					<div class="line"></div>

					<div class="modal fade" data-backdrop="static" id="<%= dados.id_aulas %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
						<div class="modal-dialog modal-xl">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
									<h3 class="modal-title" id="lineModalLabel"><%= dados.descricao %></h3>
								</div>
								<div class="modal-body">																	
									<iframe width="100%" height="450px" src="<%= dados.link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-success" id="concluirAula_<%= dados.id_aulas %>">Concluir</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
								</div>
							</div>
						</div>
					</div>

				</li>
				 
			<% }) %>	
		</ul>
	</div>
</div>
-->